@charset "utf-8";

body{
    text-justify: auto;
}
table{
    text-align: center;
    width:90% !important;
    margin: auto;
    
}
tr:nth-child(2n){
    background-color: #00000070;
}

td{
    border: 5px solid black;
    border-radius: 40%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
th{
    border: 5px solid black;
}

.CENTRO{
    display: block;
    text-align: center;
}